<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="cadena_conexion" connectionString="Data Source=DESKTOP-D6NFHV9\SQLEXPRESS; &#xD;&#xA;         Initial Catalog=carreras; Integrated Security=true" />
        <add name="carrerasConnectionString" connectionString="Data Source=DESKTOP-D6NFHV9\SQLEXPRESS;Initial Catalog=carreras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
